/**
	nfp4MBC - A nextflow pipeline for metabarcoding amplicon sequences
	Copyright (C) 2019	Mingxin Liu - mingxin.liu@utas.edu.au
*/

manifest
{
	homePage = "https:/github.com/mingxinliu/nfp4MBC"
	description = "nfp4MBC - A nextflow pipeline for metabarcoding amplicon sequences"
	mainScript = "nfp4MBC.nf"
}

timeline
{
	enable = true
}

params
{
	marker = "CO1" // <CO1|16S>, which marker is used
	skip = false // <false|true>, whether skip certain process
	cluster = "usearch" // <usearch|swarm>, which clustering algorithm to use
	outdir = "/home/ubuntu/metabarcoding2/LIU8106" // set output path
	m = 157 // <124|152|157>, set minimum amplicon length
	M = 157 // <157|162|165>, set maximum amplicon length
	length = "157" // <"157"|"152_162"|"124_165">
	threads = 12 // set multithreading number
}
